body {
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(160deg, black 0%, #07152C 100%);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 5px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(160deg, black 0%, #07152C 100%);
    font-family: "Michroma";
}



.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 1.1em;
    color: #8DF6E1;
    text-decoration-line: none;
}

nav {
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: color 0.4s;
}

.nav-links a:hover {
    color: #8DF6E1;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 25px;
    background: white;
    margin-bottom: 4px;
    border-radius: 2px;
}

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 45px;
    right: 45px;
    background-color: rgba(134, 193, 252, 0.6);
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-family: "Michroma";
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.8);

}

.scroll-to-top-btn:hover {
    background-color: rgba(134, 193, 252, 1);
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 0px 100px 0px;
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2332B399' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%238DF6E1'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%238DF6E1'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%2356CEB6'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset black 0px 60px 160px -12px;
}

#hero-secondary {
    display: flex;
    padding: 80px 0px 70px 0px;
    background-image:
    url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2332B399' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%238DF6E1'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%238DF6E1'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%235AAD98'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset black 0px 30 160 -12px;
}

#hero > div {
    color: black;
    justify-content: center;
    margin: auto;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-family: "Michroma", sans-serif;
}

#hero h1 {
    font-size: 36px;
    border-right: solid 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin: 16px auto;
    font-weight: bolder;
}

#hero h3 {
    color:#001511;
    margin: auto;
    border-right: solid 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
}

@media (min-width: 1025px) {
    #hero h1 {
        animation: animated-text-h1 3s linear 1s 1 normal both,
                animated-cursor-h1 800ms linear infinite;
    }

    @keyframes animated-text-h1{
        from{width: 0;}
        to{width: 790px;}
    }

    @keyframes animated-cursor-h1{
        from{border-right-color: rgba(0, 0, 0, 0.5);}
        to{border-right-color: transparent;}
    }


    #hero h3 {
        animation: animated-text-h3 3s linear 1s 1 normal both,
                animated-cursor-h3 800ms linear infinite;
    }

    @keyframes animated-text-h3{
        from{width: 0;}
        to{width: 680px;}
    }
    
    @keyframes animated-cursor-h3{
        from{border-right-color: rgba(0, 0, 0, 0.5);}
        to{border-right-color: transparent;}
    }
}

h2 {
    font-family: "Michroma";
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 32px;
    padding: 12px 24px 24px 24px;
    border: 2px #8DF6E1;
    box-shadow: inset -15px -15px 10px -15px #8DF6E1;
}

#about, #projects, #contact {
    padding-top: 50px;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

#projects, #contact {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
}

.grid-item {
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.8);
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    font-size: 16px;
}

.vertical-list {
    display: inline-block;
    text-align: center;
    line-height: 0.7;
}


.vertical-list span {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}


.label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    margin: 16px 0px 6px 0px;
}

svg {
    fill: #8DF6E1;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    margin-right: 6px;
}

svg:hover {
    opacity: 1;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(134, 193, 252, 1);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(134, 193, 252) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #frontend-container, #other-container, #svg-container, #project-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

.link {
    color: rgb(134, 193, 252);
    opacity: 0.8;
    transition: opacity 0.3s ease;
    font-size: 18px;
}

.link:hover {
    opacity: 1;
}


.project-container, .ccl-project-container, .other-project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 20px;
}

.ccl-project-container, .other-project-container {
    margin-bottom: 50px;
}

.project-card {
    background: linear-gradient(160deg, rgba(134, 193, 252, 0.01) 0%, rgba(134, 193, 252, 0.1) 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.project-logo {
    width: 90%;
    margin: auto;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.5) 0%, rgba(134, 193, 252, 0.1) 100%);
    border-radius: 10px;
    box-shadow: inset 2px 2px 8px -1px rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 80%;
    border-radius: 8px 8px 0 0;
}

.project-card h2 {
    margin: 15px 0 10px;
}

.project-card p {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
}



.center {
    margin: 16px auto 0px auto;
    font-size: 20px;
}


footer {
    z-index: 2;
    padding: 20px 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(160deg, black 0%, #07152C 100%);
    font-family: "Michroma";
    font-size: 14px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.4);

}

footer > div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer > div > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
}


form {
    background: linear-gradient(160deg, rgba(134, 193, 252, 0.01) 0%, rgba(134, 193, 252, 0.1) 100%);
    border-radius: 8px;
    padding: 0px 30px;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    margin: 0px auto 20px auto;
    width: 60%;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

form .label {
    font-size: 18px;
    margin-top: 30px;
}

form .form-group input,
form .form-group textarea {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.5) 0%, rgba(134, 193, 252, 0.1) 100%);
    border: 1px solid #32B399;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form .form-group textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    max-height: 200px;
    min-height: 100px;
}
form .form-group input:focus,
form .form-group textarea:focus {
    border-color: #8DF6E1;
    box-shadow: 0 0 8px rgba(134, 193, 252, 1);
    outline: none;
}

form .submit-btn {
    background-color: #8DF6E1;
    width: fit-content;
    margin: 30px auto;
    font-weight: bold;
    opacity: 0.7;
    color: #001511;
    border: none;
    padding: 12px 24px;
    border-radius: 10px 4px 10px 4px;
    font-family: "Michroma", sans-serif;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

form .submit-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
}

form .submit-btn:active {
    opacity: 0.5;
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#project-headline {
    width: 70%;
    margin: auto;
    position: relative;
    text-align: center;
}

.go-back-link {
    position: absolute;
    left: 0;
    margin-left: 20px;
    top: 30%;
    transform: translateY(-50%);
}


.project-details {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 100px;
}

.project-section {
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    font-size: 16px;
}

#project-summary, #objective, #project-learning {
    line-height: 1.6;
}

.project-section li {
    margin: 10px 0px 0px 20px;
}

#project-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.section-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}

#project-picture {
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#project-picture img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

#project-type {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Michroma";

}

#item1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#item2 {
    grid-column: 4 / span 3;
    grid-row: 1;
}

#item3 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#item4 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#item5 {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#item6 {
    grid-column: 3 / span 4;
    grid-row: 2 / span 3;
}

#item7, #item8 {
    grid-column: span 3;
}

#item9 {
    grid-column: span 4;
}

#item10 {
    grid-column: span 2;
}


